/* hides slides by default
position arrows
make thumbnail hover effect
style caption box */


* {
    box-sizing:border-box;
}

/*positionioning of the image cointainer (needed to position the left and right arrows) */
.Imagecontainer {
   height: 70vh;
   max-height: 600px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

/*hide the imagees by default */
.JaySlidesImages {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    background-color: #faffcdab;
}

/* this fits the Jay images properly on the slideshow */
.JaySlidesImages img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

/*Add a cursor when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/*Next and Previous ARROW Buttons*/
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding:16px;
    top: 50%;
    transform:translateY(-50%) ;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* webkit user select is non standard, i will have too come back to this and see what it means by that */

/* positon the "next button" to the right */
.next {
    right:0;
    border-radius: 3px 0 0 3px;
}

/*on hover, add a black background color with a little bit see thorugh */
.prev:hover,
.next:hover {
    background-color: #4D0E1C;
}
/* come back to this and look for a different color background thAT ISNT BLACK*/

/*Number-text(1/3 etc)*/
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding:8px 12px;
    position: absolute;
    top: 0;
    
}

/* Cointainer for image text */
.caption-container {
    text-align: center;
    background-color: #4D0E1C;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*Six colums side by side*/
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for ((thumbnail)) images*/
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}